@font-face {
  font-family: 'Concourse';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/concourse_t4_regular.woff") format("woff"),
}

@font-face {
  font-family: 'Concourse';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/concourse_t4_italic.woff") format("woff"),
}

@font-face {
  font-family: 'Concourse';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/concourse_t4_bold.woff") format("woff"),
}

@font-face {
  font-family: 'Concourse';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/concourse_t4_bold_italic.woff") format("woff"),
}

@font-face {
  font-family: 'Concourse SC';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  font-feature-settings: "smcp";
  src: url("../fonts/concourse_c4_regular.woff") format("woff"),
}

@font-face {
  font-family: 'Concourse SC Bold';
  font-style:  bold;
  font-display: auto;
  font-weight: 400;
  font-feature-settings: "smcp";
  src: url("../fonts/concourse_c4_bold.woff") format("woff"),
}

@font-face {
  font-family: 'Valkyrie';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/valkyrie_t4_regular.woff") format("woff"),
}

@font-face {
  font-family: 'Valkyrie';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/valkyrie_t4_italic.woff") format("woff"),
}

@font-face {
  font-family: 'Valkyrie';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/valkyrie_t4_bold.woff") format("woff"),
}

@font-face {
  font-family: 'Valkyrie';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/valkyrie_t4_bold_italic.woff") format("woff"),
}

@font-face {
  font-family: 'Valkyrie SC';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/valkyrie_c4_bold.woff") format("woff"),
}

@font-face {
  font-family: 'Valkyrie SC Bold';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/valkyrie_c4_bold.woff") format("woff"),
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono-Regular.woff") format("woff"),
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono-Italic.woff") format("woff"),
}


@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/JetBrainsMono-Medium.woff") format("woff"),
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/JetBrainsMono-MediumItalic.woff") format("woff"),
}


@font-face {
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/JetBrainsMono-Bold.woff") format("woff"),
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/JetBrainsMono-BoldItalic.woff") format("woff"),
}
